/* Table of Content
==================================================
	# Global Styles
	# Header
	# Featured Section
	# Homepage Content */

/* # Global Styles
================================================== */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* # Header
================================================== */
header { width: 100%; background-color: #333333; margin-bottom: 40px; }

/* # Products
================================================== */
#products .columns { float: left; }
#product_description #quantity { width: 60px; }
#cart form { margin: 0; }
#cart .quantity { width: 60px; margin: 0; }